body {
    margin:0;
    padding:0;
    font-size:13px;
    font-family:Arial;
    background-color:#e7e7e7;
}

/* Layout: */

.wrapper {
    position:relative;
    max-width:900px; min-width:600px;
    margin:0 auto;
}

#birds_bg {
    width:1400px; height:920px;
    position:fixed;
    left:0; bottom:0;
    z-index:-100;
    background-image:url(../images/birds_interlaced.png);
}

    /* Header: */
    header {
        width:100%; height:40px;
        margin:0;
    }
    #logo { float:left; }
    #logo img { float:left; height:36px; margin-top:2px; }
    #logo h1 { float:left; margin:0; margin-top:5px; }
    #head_wrapper {
        height:100%;
    }
    #btn_refresh {
        float:right;
        margin-top:8px; margin-right:5px;
        transition-property: transform;
        transition-duration: 1s;
    }
    #btn_refresh:hover {
        -moz-transform:rotate(180deg); /* Firefox 3.6 Firefox 4 */
        -webkit-transform:rotate(180deg); /* Safari */
        -o-transform:rotate(180deg); /* Opera */
        -ms-transform:rotate(180deg); /* IE9 */
        transform:rotate(180deg); /* W3C */
    }

    /* Main Content: */
    #main_wrapper {
        margin-top:20px; margin-bottom:20px;
    }
    
        /* Articles */
        #main {
            width:600px; min-height:100px;
            float:left;
            margin-right:20px;
        }
        article {
            width:100%;
            margin:0; padding:0;
            margin-bottom:15px;
            background-color:#ffffff;
        }
        .art_header {
            width:100%;
            padding:5px 0;
        }
        .art_header h2 { margin:0; }
        .img_rss { float:left; margin:0 5px; }
        .art_img { 
            width:160px; height:120px;
            float:left;
            background-image:url(../images/art_bg.png);
        }
        .art_main { float:left; padding:5px; }
        .art_newsportal { margin:0; }
        p.teaser { width:430px; height:48px; }
        .art_time {
            float:right;
            margin-right:5px;
        }
        .art_time p { margin:0; color:#666666; }
        .art_similar {
            float:left;
        }
        .art_similar p { margin:0; margin-left:5px; }
        .art_similar img { vertical-align:middle; margin-top:-3px; }
        
        /* Right Column: */

        #right_column {
            width:280px; min-height:100px;
            float:left;
        }
        #newsportals {
			margin-bottom:20px;
			background-color:#ffffff;
		}
		#portals {
			padding-bottom:1px;
		}
		.portal {
			padding:3px;
			margin:5px;
			border-radius:2px;
			background-color:#FAA96F;
		}
		.portal p { margin:0; }
		
		
       
        /* Formatierung oldArticles*/
        #old_news {
			padding:5px;
		}
		
        .old_art a h2 { color:#000; margin:0; text-align:center; }
		.old_date { float:left; font-size:0.8em; }
		.old_portal { float:right; font-size:0.8em; }
        
        #right_column .art_img { 
            width:80px; height:60px;
            float:left;
            background-image:url(../images/art_bgklein.png);
        }
        
        #right_column p.teaser { 
            width:280px; height:30px; 
        }

        #right_column .art_time p { 
            margin:0; color:#BBBBBB; 
        }

/*test*/
        .dia_name { color:#000; margin:0; text-align:center; font-size:0.8em; }
        .dia_anzahl { float:left; font-size:0.8em; }


/* Styling: */

a { color:#2980b9; text-decoration:none; font-weight:bold; }
a:hover {  }
h2 { font-size:1em; }

#logo h1, .art_header a { color:#000000; }
header, .art_header { background-color:#2980b9; }
.art_newsportal { color:#333333; font-weight:bold; }
