 @(message: String) @main {

      
<header>
	<div id="head_wrapper" class="wrapper">
		<div id="logo">
			<img src="@routes.Assets.at("images/logo.png")" alt="" />
			<h1>Early Bird News</h1>
			<div style="clear:both;"></div>
		</div>
		<a id ="sprite" href="" onclick="refresh(), waitImage()" >
			<img id="btn_refresh" src="@routes.Assets.at("images/refresh.png")" alt="Refresh" />
		</a>
		<div style="clear:both;"></div>
	</div>
</header>

<div id="main_wrapper" class="wrapper">
	<div id="main">
					
	</div>
	
	<aside id="right_column">
		<div id="newsportals">
			<div class="art_header">
				<img class="img_rss" src="@routes.Assets.at("images/early-birds.png")" alt="" />
				<h2>Early Birds</h2>
			</div>
			
			<div id="portals">
				<!-- <div class="portal" style="width:50%;">
					<p>Süddeutsche</p>
				</div>
				<div class="portal" style="width:32%;">
					<p>Focus</p>
				</div>
				<div class="portal" style="width:12%;">
					<p>Spiegel</p>
				</div>
				<div class="portal" style="width:6%;">
					<p>Guardian</p>
				</div> -->
			</div>
		</div>
		
		<div style="background-color:#fff;">
			<div class="art_header">
				<img class="img_rss" src="@routes.Assets.at("images/old-news.png")" alt="" />
				<h2>Night Owl News</h2>
			</div>
				<div id="old_news">
					
				</div>
		</div>
	</aside>
	
	<div style="clear:both;"></div>
</div>

<div id="birds_bg"></div>
}