 @(message: String) @main {


<!-- <h1>Early Bird News bla</h1> -->

	<body>
		<div class="header">
			<div>
				<h1>Early Bird News</h1>
				<ul class="nav">
					<li>
                        <a href="#" class="btnRefresh">Refresh</a>  
					</li>
				</ul><!--Button-->
                
			</div>
		</div><!--header-->
       

		<div class="wrapper">
            <article>
            
                <!-- JSON Ausgabe
                <div id="output">
                    Dies ist die Standardausgabe
                </div>
                -->
   
                <div class="artikel_neu">
                    Testtitel <br /> Datum <br /> Textausschnitt <br /> Hyperlink
                </div>
                <div class="artikel_neu">
                    Testtitel <br /> Datum <br /> Textausschnitt <br /> Hyperlink
                </div>
                <div class="artikel_neu">
                    Testtitel <br /> Datum <br /> Textausschnitt <br /> Hyperlink
                </div>
                <div class="artikel_neu">
                    Testtitel <br /> Datum <br /> Textausschnitt <br /> Hyperlink
                </div>
                <div class="artikel_neu">
                    Testtitel <br /> Datum <br /> Textausschnitt <br /> Hyperlink
                </div>
                <div class="artikel_neu">
                    Testtitel <br /> Datum <br /> Textausschnitt <br /> Hyperlink
                </div>
            </article> <!--Neue Artikel-->
            
            <aside>
                <div class="diagramm">
                <fieldset>
                    <legend>85% SZ</legend>

                    <div class="progress-container" style="width: 100px;">
                        <div style="width: 85%;"></div>
                    </div>

                    <br />
                </fieldset>

                <fieldset>
                    <legend>100% Yahoo</legend>

                    <div class="progress-container" style="width: 160px;">
                        <div style="width: 100%;"></div>
                    </div>
                    <br />
                </fieldset>

                <fieldset>
                    <legend>40% Bild</legend>

                    <div class="progress-container" style="width: 190px;">
                        <div style="width: 40%; background: orange;"></div>
                    </div>
                    <br />
                </fieldset>

                <fieldset>
                    <legend>70% Focus</legend>

                    <div class="progress-container" style="width: 190px;">
                        <div style="width: 70%; background: #920c0d;"></div>
                    </div>
                    <br />
                </fieldset>

                <fieldset>
                    <legend>50% Frankfurter Allgemeine</legend>

                    <div class="progress-container" style="width: 190px;">
                        <div style="width: 50%; background: orange;"></div>
                    </div>

                    <br />
                </fieldset>
                </div><!--Diagramm-->

                <div class="artikel_alt">
                    Testtitel <br /> Datum <br /> Textausschnitt <br /> Hyperlink
                    <br /><br />Testtitel <br /> Datum <br /> Textausschnitt <br /> Hyperlink
                    <br /><br />Testtitel <br /> Datum <br /> Textausschnitt <br /> Hyperlink
                    <br /><br />Testtitel <br /> Datum <br /> Textausschnitt <br /> Hyperlink
                    <br /><br />Testtitel <br /> Datum <br /> Textausschnitt <br /> Hyperlink
                    <br /><br />Testtitel <br /> Datum <br /> Textausschnitt <br /> Hyperlink
                </div><!--Alte Artikel-->
                
            </aside>
        
        </div>
        
	</body>
}
