 @(message: String) @main {

      
<header>
	<div id="head_wrapper" class="wrapper">
		<div id="logo">
			<img src="@routes.Assets.at("images/logo.png")" alt="" />
			<h1>Early Bird News</h1>
			<div style="clear:both;"></div>
		</div>
		<a id ="sprite" href="" onclick="startSearch(0);return false;" >
			<img id="btn_refresh" src="@routes.Assets.at("images/refresh.png")" alt="Refresh" />
		</a>
		<div style="clear:both;"></div>
	</div>
</header>

<div id="main_wrapper" class="wrapper">
	<div id="main">
		<div id="article_list">
		
		</div>
		<a class="btn_link" href="#" onclick="newArticles(1);return false " >
			<div class="btn_newArticle">
				<img src="@routes.Assets.at("images/arrow.png")"/>
				<span>... Weitere Artikel laden ...</span>
				<img src="@routes.Assets.at("images/arrow.png")"/>	
			</div>
		</a>
		<div id="footer">&copy; Hochschule Hof 2013</div>		
	</div>
	
	<aside id="right_column">
		<div id="newsportals">
			<div class="art_header">
				<img class="img_rss" src="@routes.Assets.at("images/early-birds.png")" alt="" />
				<h2>Early Birds</h2>
			</div>
			
			<div id="portals">

			</div>
		</div>
		
		<div style="box-shadow: 0px 0px 7px #AAAAAA;background-color:#fff;">
			<div class="art_header">
				<img class="img_rss" src="@routes.Assets.at("images/old-news.png")" alt="" />
				<h2>Night Owl News</h2>
			</div>
			
			<div id="old_news">
				<div id="article_list_old"></div>
				<a class="btn_link" href="#" onclick="oldArticles(1);return false">
					<div class="btn_newArticle" style="border-radius: 0">
						<span style="vertical-align: sub;">... Weitere Artikel laden ...</span>		
					</div>
				</a>	
			</div>
		</div>
	</aside>
	
	<div style="clear:both;"></div>
</div>

<div id="birds_bg"></div>
}