logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
/bin
/index
/index2
/tempIndex
/xmlFiles
/iisys-server/archive
/iisys-server/configuration.properties
/iisys-server/error.log
/iisys-server/subscriptions/RSSSubscription.xml
